:root {
  --text: #DCCAE9;
  --softpurple: #A6A9C8;
  --text2: #D3D9E9;
  --dark: #31293F;
  --dark2: #272932;
  --dark3: #18191f;
  --middletone: #554D74;
  --button: #FFB6C1;
  --hotpink: 	#FF69B4;
  --pastel: #F8C8DC;
  --lightpink: #faf5f8;
  --dark3: #18191f;
}

.background{
  width: 100%;
  background-color: var(--dark3);

}

.img-fluid{
  width: 200px;
  border-radius: 50%;
  border-right: 4px solid var(--button);
}

/* TEXT */
.aboutme h1{
  color: var(--text2);
  margin-bottom: 50px;
}

p{
  text-align: left;
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}

.knowMe{
  text-align: left;
  margin-bottom: 25px;
  color: white;
  border-bottom: 1px solid var(--button);
} 

/* DOWNLOAD ICON */
.resumeIcon svg{
  font-size: 40px;
  color: var(--softpurple);
  margin-left: -90%;


}

.resumeIcon svg:hover{
  transform: scale(1.5); 
  color: var(--pastel);
}

.knowMe{
  text-align: left;
  margin-bottom: 20px;
}


.info{
  background-color: var(--dark2);
  border-bottom: 2px solid var(--button);
  height: 100%;
  width: 100%;
  border-radius: 2%;

}

/* SKILLS IMAGES */
.skills-title{
  color: var(--text2);
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 45px;
}



.html{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.css{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.javascript{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.react{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.node{
  width: 90px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.bootstrap{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.git{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.adobe{
  width: 50px;
  margin-right: 25px;
  margin-bottom: 30px;
}